


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 h1{
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 100px;
    padding: 6px;
    font-size: 20px;
}
h1:hover{
    color: #3498DB;
    background-color: rgba(27, 39, 44, 0.63);
    transition: ease 2s;
}
a{
    text-decoration: none;
    color:#3498DB;
   
}








body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
    
}

p{
    margin: 50px;
}
header{
    width: 100%;
    height: 50px;
    background-color: #3498DB;
    color:white;
    display: flex;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 13px;
    border: 3px solid #3498DB;
    transition: all ease-in 0.8s;
    
}

.logo:hover{
    background-color:#6cbcf1c2;
}
.navber{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navber ul{
    list-style: none;
}
.navber ul li{
    background-color: #3498DB;
    width: 130px;
    text-align: center;
    float: left;
    color:black;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 25px;
    
}
.navber ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navber ul li:hover{
   background-color:#6cbcf1c2 ;
   transition: all ease-in 0.8s;

}
.navber ul ul{
    display: none;
}
.navber ul li:hover > ul{
    display: block;
}
p{
    margin: 50px;
    padding: 200px;
}